<div class="landing">
    <h3 class="landing header">Welcome to Archery Score Tracker!</h3>
    
    <p class="landing body">
        This app is designed to help you track your scores over time. Simply add your sessions and see how your accuracy and consistency changes over time!
    </p>
    
    <p class="landing body">To get started, <a class="landing body link" href="login?redirectUri=/"> login or sign up!</a> </p>
</div>
