@page "/"
@using ArcheryTracker.Logic
@using ArcheryTracker.Logic.Models
@using ArcheryTracker.App.Util

@inject UserService UserService
@inject IdentityService IdentityService

@attribute [Authorize]

@if (_user == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>Total Shots: [placeholder]</p>
    <p>Shots Per Session: [placeholder]</p>
    <p>Total Shots This Month: [placeholder]</p>
    <p>Overall Accuracy: [placeholder]</p>
    <p>Bullseye Percentage: [placeholder]</p>
}

@code {
    private User _user { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var userId = await IdentityService.GetLoggedInUserId();
        _user = await UserService.GetUser(userId, "kyle", "fake_email");
    }
}